* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* style for header with view high score button and timer */

header {
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(141, 142, 195)
}

/* style for body with start button, question, and answer options */

body {
    text-align: center;
    background-color: rgb(193, 179, 179); 
}

h3 {
    font-size: 32px;
    padding: 20px;
}

/* style for start-button */

#start-button {
    padding 10px 10px;
    font-size: 40px;
    background-color: lightgrey;
    color: blueviolet;
}

#score-screen {
    display: none;
}

/* style for questions and answers on quiz html */ 
.choice-container {
    display: flex;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    border: solid blue;
    background-color: whitesmoke;
}

.choice-prefix {
    padding: 10px 5px;
    background-color: lightblue;
    color: darkblue;
}

.choice-text {
    padding: 10px;
    color: darkblue;
}

#quiz-question {
    padding: 20px;
    font-size: 24px;
    color: darkblue;
}