* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* style for header with view high score button and timer */

header {
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(141, 142, 195)
}

/* style for body with start button, question, and answer options */

body {
    text-align: center;
    background-color: rgb(193, 179, 179); 
}

h3 {
    font-size: 32px;
}
/* style for all buttons */
button {
    background-color: gray;
    color: black;
    font-size: 30px;
}

/* style for start-button */

#start-button {
    background-color: darkblue;
    color: white;
    /* display: none; */
}